@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script|Crimson+Text');

#sidenav {
      height: 100%;
      width:200px;
      position: fixed;
      z-index:2;
      top:0;
      left:0;
      background-color: white;
      overflow: scroll;
}

button.sidenav {
    font-family: "Crimson Text", Times, serif;
    font-size: 15px;
    color: black;
    background-color: white;
    border: none;
    width: 100%;
    transition: font-size 250ms;
}

button.sidenav:hover {
      font-size: 20px;
      background-color: lightslategrey;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: center;
}

#maincontent {
  margin-left: 200px; /* Same as the width of the sidenav */
}

.footer {
   font-family: "Crimson Text", Times, serif;
   font-size: 16px;
   width:100%;
   position: fixed;
   z-index:1;
   bottom:0;
   left:0;
   text-align: center;
}

#headword {
      font-family: "Petit Formal Script", Times, serif;
      font-size: 64px;
}

#syllables {
      font-family: "Crimson Text", Times, serif;
      font-size: 20px;
      color: #5C5C5C;
}

#pronunciation {
      font-family: "Crimson Text", Times, serif;
      font-size: 20px;
      color: #5C5C5C;
}

#sense {
      font-family: "Crimson Text", Times, serif;
      font-size: 30px;
}